*{margin:0;padding:0;}
.header{
    height:50px;
    width:960px;
	margin:0 auto;
     background:#ECF5FF;
     margin-bottom:10px;
	 opacity:0.9;
	 border:1px solid #ECF5FF;
 }
 
 .shipin ul{list-style:none;width:100%;overflow:hidden;border:1px solid #FFF3EE;margin-bottom:10px;}
 
 .shipin ul li{width:50%;float:left;font-family:微软雅黑;font-size:20px;overflow:hidden;} 
 .shipin ul li a{text-decoration:none;display:block;}
 
 
p {
    font-family:"yellow";
    color:#C4E1FF;
	font-size:20px;
	text-align:left;
padding:20px 5px 15px 20px;
    -webkit-transition: all 2s ease;
            transition: all 2s ease;
}
p:hover {
	font-size:30px;
    color: red;
  opacity:0.3;
}
.header:hover{
	height:60px;
	
}
.u{
font-family:&#26999;&#20307;;
padding:20px 15px 5px 20px;
}

 .nav{
     width:960px;
     margin:0 auto;
     margin-bottom:10px;
	 opacity:0.9;
	 border:1px solid #C4E1FF;
 }
 .nav ul{list-style:none;margin:0px;}
 #main{
     width:960px;
     min-height:100%;
     _height:100%;
     margin:0 auto;
     overflow:hidden;
	 opacity:0.9;
  }
 
.h{
	line-height:30px;
      list-style:none;
     background:#C4E1FF;
     overflow:hidden;
	 
  }
  .g{
	height:30px;
      list-style:none;
     background:#C4E1FF;
     overflow:hidden;
  }
  ul{list-style:none;margin-bottom:10px;}
  ul li a{text-decoration:none;display:block;}
 #main .left{
     width:960px;
     min-height:100%;
     _height:100%;
	 background:#ECF5FF;
    float:left;
   margin-bottom:10px;
	opacity:0.9;
	border:1px solid #C4E1FF;
 }

 #footer{
     width:960px;
     height:50px;
     background:#C4E1FF;
     margin:0 auto;
     margin-top:10px;
	 opacity:0.9;
	 border:1px solid #C4E1FF;
  }
  .nav ul{
      list-style:none;
     background:#C4E1FF;
     overflow:hidden;
  }
 .nav li{
     float:left;
	 
 }
 .nav li a{
     display:block;
      color:black;
     width:80px;
    font-family:&#40657;&#20307;;
	line-height:30px;
     text-decoration:none;
     text-align:center;
	 opacity:0.8;
  }
 .nav .home{
     width:128px;
 }
 .nav li a:hover{
	 color:black;
      background:yellow;
	opacity:0.8;
 }
  a:hover{
    font-family:"&#26999;&#20307;";
   font-size:30px;
background:yellow;
 }
 #my{overflow:scroll;overflow-y:hidden}
